page-home {
    .progress-inner {
        text-indent: -9999px;
        height: 10px;
        width: 600px;
        white-space: nowrap;  
    }

    .progress-inner a {
        outline: none;  /* prevents dotted line when link is active */
    }

    .card {
        background-color: rgb(227, 239, 253);
      }
}
