<ion-header>
  <ion-navbar>
    <div>
      <ion-row>
        <ion-col col-2>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-8  style="margin-top: 1rem">
            <ion-title>{{headerText}}</ion-title>
        </ion-col>
        <ion-col col-2>
          <ion-buttons end>
            <button ion-button icon-end  (click)="onNewBudget()">
            <ion-icon name="add" color="light" large></ion-icon>
          </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      </div>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
    <ion-card no-padding *ngIf="!showEmptyHome; else emptyHomePage">
        <ion-card-header>
            <ion-icon name="cash" large color="primary" padding></ion-icon>
            {{headerText}} Overview
            <hr>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col>Income</ion-col>
                <ion-col>{{totalIncome}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Expense</ion-col>
                <ion-col>{{totalExpense}}</ion-col>
            </ion-row>
            <ion-row>
                    <ion-col>Balance</ion-col>
                    <ion-col>{{balance}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 no-padding>
                    <progress-bar [progress]="progressPercent" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
                    </progress-bar>          
                </ion-col>
            </ion-row>
        </ion-card-content>
        <hr>
        <ion-list class="accordion-list" >
            <ion-list-header *ngFor="let item of ionCatList; let i = index"  no-lines no-padding >
                <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
                    <ion-icon item-left name="arrow-dropright-circle" color="primary" *ngIf="!item.open"></ion-icon>
                    <ion-icon item-left name="arrow-dropup-circle" color="light" *ngIf="item.open"></ion-icon>
                        {{ item.title }}
                        <ion-icon item-right name="add" [ngClass]="item.income?light:dark" (click)="onAccordHeaderClick(item.income,i)"></ion-icon>
                </button>
                <ion-list *ngIf="item.open" no-lines no-padding >
                    <ng-container *ngFor="let e of item.categories;let i = index" no-padding no-wrap>
                        <ion-item  ion-item detail-none class="child-item" text-wrap no-padding>
                                <ion-card no-padding>
                                    <ion-card-header class="bold">
                                        <ion-row  *ngIf="!item.income">
                                            <ion-col col-9>
                                                {{e }}
                                            </ion-col>
                                            <ion-col col-3>
                                                <button ion-button   small no-padding-top color="secondary" (click)="onActionClick('expense',e)">
                                                        <ion-icon name="add" color="dark"></ion-icon>
                                                </button>
                                            </ion-col>
                                        </ion-row>
                                        <div *ngIf="item.income" (click)="onEditIncome(i)" class="pointer">
                                            <ion-row>
                                                <ion-col col-8>
                                                    {{e}}
                                                </ion-col>
                                                <ion-col col-4>
                                                    $4500
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col class="smallText">Income</ion-col> 
                                            </ion-row>
                                        </div>
                                    </ion-card-header>
                                    <ion-card-content  *ngIf="!item.income">
                                        <ion-row>
                                            <ion-col class="smallText">Budget Spent</ion-col>
                                            <ion-col class="smallText">Actual Budget</ion-col>
                                            <ion-col class="smallText">Remaining</ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col class="smallerText">$2000</ion-col>
                                            <ion-col class="smallerText">$2300</ion-col>
                                            <ion-col class="smallerText">$300</ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col col-12 no-padding>
                                                <progress-bar [progress]="progressPercent" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
                                                </progress-bar>          
                                            </ion-col>
                                        </ion-row>
                                    </ion-card-content>
                                </ion-card>
                        </ion-item>
                    </ng-container>
                </ion-list>
            </ion-list-header>
        </ion-list>
    </ion-card>
    <ng-template #emptyHomePage no-padding>
            <ion-slides pager>
                    <ion-slide style="background-color: white">
                      <h2>No Budgets Yet.</h2>
                      <ion-row>
                        <ion-col>
                            <p>Its easy to create one.Create one now!</p>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                            <ion-fab middle center  color="primary" (click)="onNewBudget()">
                                <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
                            </ion-fab> 
                          </ion-col>
                      </ion-row> 
                    </ion-slide>
                  </ion-slides>
    </ng-template>
</ion-content>
